@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => base.OnInitialized());
    }

    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}